<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>
<body>
    <%- include('../partials/headerIndex')%>
    <main>
        <section class="profileBox">
            <div class="avatarBox">
                <img src="/images/users/<%=locals.userLogged ? locals.userLogged.avatar_url : null%>" alt="" class="profilePic">
                <h3 class="profileh3"><%= locals.userLogged.user_name%></h3>
                <p class="profileh3"><%= locals.userLogged.email%></p>
                <a href="/users/edit"class="linkProfile">
                    <button class="logoutButton">
                        Editar perfil
                    </button>
                </a>
                <a href="logout" class="linkProfile">
                    <button class="logoutButton">
                        <i class="fas fa-sign-out-alt"></i> Cerrar sesion
                    </button>
                </a>
            </div>
            
                
                    
                
                
        </section>
    </main>
    <%- include('../partials/footer')%>
</body>
</html>