<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>
<body class="bodyRegister">
    <%- include('../partials/headerIndex')%>
    <main class="registro">
        <div>
            <h3 class="h3Register">REGISTRATE</h3>
            <form action="/users/register" method="post" class="formulario" enctype="multipart/form-data">
                
                <div class="login">
                    <label for="nombreUser" class="registroUser">Nombre de usuario</label>
                    <input type="text" name="userName" id="nombreUser" value="<%=locals.old ? old.userName : null %>">
                    <div class="is-invalid"></div>
                    <% if(locals.errors && errors.userName){%>
                        <div class="is-invalid">
                            <%= errors.userName.msg%>
                        </div>
                    <%}%>
                    
                    
                </div>

                <div class="login">
                    <label for="email" class="registroUser">Email</label>
                    <input type="email" name="email" id="email" value="<%=locals.old ? old.email : null %>">
                    <div class="is-invalid"></div>
                    
                    <% if(locals.errors && errors.email){%>
                        <div class="is-invalid">
                            <%= errors.email.msg%>
                        </div>
                    <%}%>
                    <% if(locals.msg){%>
                        <div class="is-invalid">
                            <%= msg%>
                        </div>
                    <%}%>
                </div>

                <div class="login avatar1">
                    <label for="avatar" class="registroUser">
                        <i class="fas fa-camera-retro"></i>
                        <input type="file" name="avatar" id="avatar">
                        <span class="avatarFront"></span>
                    </label>
                    <% if(locals.errors && errors.avatar){%>
                        <div class="is-invalid">
                            <%= errors.avatar.msg%>
                        </div>
                        <%}%>
                        
                </div>
                <div class="is-invalid login"></div>

                <div class="login">
                    <label for="contra" class="registroUser">Password</label>
                    <input type="password" name="password" id="contra" >
                    <div class="is-invalid"></div>

                    <% if(locals.errors && errors.password){%>
                        <div class="is-invalid">
                            <%= errors.password.msg%>
                        </div>
                    <%}%>
                    
                </div>

                <div class="login">
                    <label for="reContra" class="registroUser">Confirm password</label>
                    <input type="password" name="rePassword" id="reContra" >
                    <div class="is-invalid"></div>

                    <% if(locals.errors && errors.rePassword){%>
                        <div class="is-invalid">
                            <%= errors.rePassword.msg%>
                        </div>
                    <%}%>
                    
                </div>

                
                    
                <button type="submit" class="register">Registrarse</button>
                <p class="is-invalid"></p>
            
            </form>
    
        </div>
        <!--<script src="/js/userRegister.js"></script>-->
    </main>
    <%- include('../partials/footer')%>
    <script src="/js/userRegisterValidat.js"></script>   
</body>
</html>