<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>
<body class="bodyRegister">
    <%- include('../partials/headerIndex')%>
    
    <main class="registro">
    
        <div>
            <p class="editproductitulo">CREA TU EVENTO DEPORTIVO</p>
            
            <form action="/products/" method="post" class="formulario" enctype ="multipart/form-data">
                <div class="newProduct">
                    <label for="organizador" >Organizador</label>
                    <input type="text" name="organizador" id="organizador" >
                    <% if(locals.errorsProd && errorsProd.organizador){%>
                        <div class="is-invalid">
                            <%= errorsProd.organizador.msg%>
                        </div>
                    <%}%>
                </div>
                <div class="newProduct">
                    <label for="competencia" >Competencia</label>
                    <input type="text" name="competencia" id="competencia" >
                </div>
                <div class="newProduct">
                    <label for="oponentes" >Oponentes</label>
                    <input type="text" name="oponentes" id="oponentes" >
                </div>
                <div class="newProduct">
                    <label for="location" >Ubicacion</label>
                    <input type="text" name="location" id="location" >
                </div>
                <div class="newProduct">
                    <label for="date" >Fecha</label>
                    <input type="date" name="date" id="date"  >
                </div>
                <div class="newProduct">
                    <label for="date" >Hora</label>
                    <input type="time" name="datetime" id="date"  >
                </div>
                <div class="newProduct">
                    <label for="descripcionEvento" >Descripcion del Evento</label>
                    <textarea name="descripcion" id="descripcionEvento" cols="30" rows="5"></textarea>
                    <% if(locals.errorsProd && errorsProd.descripcion){%>
                        <div class="is-invalid">
                            <%= errorsProd.descripcion.msg%>
                        </div>
                    <%}%>
                </div>

                <div class="newProduct">
                    <label for="imageEvent">Foto del Producto:</label>
                    <input type="file" name="image" id="imageEvent" >
                    <% if(locals.errorsProd && errorsProd.image){%>
                        <div class="is-invalid">
                            <%= errorsProd.image.msg%>
                        </div>
                    <%}%>
                </div>

                
                <div class="newProduct">
                    <label for="categoria" class="category">Categoria del Producto:</label>
                    <div class="cajaSubCategory">
                        <input type="radio" name="deporte" value="1" id="categoria">
                        <label for="categoria">Football</label>
                    </div>
                    <div class="cajaSubCategory">
                        <input type="radio"  name="deporte" value="2" id="categoria">
                        <label for="categoria">Basketball</label>
                    </div>
                    <div class="cajaSubCategory">
                        <input type="radio"  name="deporte" value="3" id="categoria">
                        <label for="categoria">Tennis</label>
                    </div>
                </div>
                <div class="newProduct">
                    <label for="precioEvento" >Capacidad</label>
                    <input type="text" name="capacity" id="precioEvento" placeholder="Cantidad de tickets disponibles" >
                </div>
                <div class="newProduct">
                    <label for="precioEvento" >Precio del Evento</label>
                    <input type="text" name="precio" id="precioEvento" placeholder="Indique el menor precio disponible" >
                </div>
                
                <button type="submit" class="confirmProd">Confirmar</button>
                
            </form>
    
        </div>
    </main>

    <%- include('../partials/footer')%>
</body>
</html>




