<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <body>
        <%- include('../partials/headerIndex') %>
        <main>
            <section class="principal">
                <% if (locals.busqueda) {%>
                    <h2 class="titular">Resultados de: <%= busqueda %></h2>
                <%} else {%>
                <h2 class="titular">All events</h2>
                <%}%>
                <div class="contenedorArticulos">
                            <% Events.forEach( event => { %>
                                
                                <article class="articuloDescripcion">
                                        <a href="/products/detail/<%= event.id %>">
                                        
                                        
                                            <img class="deporte-detail" src="/images/uploads/<%= event.image %>"
                                            alt="Evento">
                                            
                                            <div class="descripcionProdDetail">
                                                <p class="competencia" ><%= event.competence %></p>
                                                <p class="partido"><%= event.oponents%></p>
                                                <p class="ubicacion"><i class="fas fa-map-marker-alt"></i> <%= event.location %></p>
                                                <% const mediumTime = new Intl.DateTimeFormat("en-GB", { timeStyle: "short", dateStyle: "short" }); %>

                                                <p class="fecha"><i class="fas fa-calendar-alt"></i> <%= mediumTime.format(event.data_time) %></p>
                                                
                                                <p class="valorTicket">Starting at $<%= event.price %></p>
                                            </div>
                                        
                                        </a>
                                
                                </article>
                                
                            <% }) %>
                </div>
                
            </section>
            
            
        </main>
        <%- include('../partials/footer')%>
    </body>
</html>
