<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
    <body>
        <%- include('../partials/headerIndex') %>
        <main>
            <section class="principal">
                <h2 class="titular">FOOTBALL</h2>
                <div class="contenedorArticulos">
                    <% for (producto of football) { %>   
                    <article class="articuloDescripcion">

                        <img class="deporte-detail" src="/images/uploads/<%= producto.image %>"
                            alt="Evento">

                            <div class="descripcionProdDetail">
                                
                                <p class="partido"><%= producto.oponentes %></p>
                                <p class="ubicacion"><i class="fas fa-map-marker-alt"></i> <%= producto.location %></p>
                                <p class="fecha"><i class="fas fa-calendar-alt"></i> <%= producto.date %></p>

                                <p class="valorTicket">Starting at $<%= producto.precio %></p>
                                <p class="disponibilidad"><i class="fas fa-ticket-alt"></i> Disponibilidad - 150 tickets </p>
                                
                                
                            </div>
                            <button type="submit" class="boton-comprar"> <strong>Comprar</strong></button>
                            
                        </article>
                        <% } %>

                </div>
            </section>
            <section class="principal">
                <h2 class="titular">TENNIS</h2>
                <div class="contenedorArticulos">
                    <% for (producto of tennis) { %>   
                    <article class="articuloDescripcion">
                        <a href="/">

                            <img class="deporte-detail" src="/images/uploads/<%= producto.image %>"
                                alt="Evento">
                        </a>

                            <div class="descripcionProdDetail">
                                
                                <p class="partido"><%= producto.oponentes %></p>
                                <p class="ubicacion"><i class="fas fa-map-marker-alt"></i> <%= producto.location %></p>
                                <p class="fecha"><i class="fas fa-calendar-alt"></i> <%= producto.date %></p>

                                <p class="valorTicket">Starting at $<%= producto.precio %></p>
                                <p class="disponibilidad"><i class="fas fa-ticket-alt"></i> Disponibilidad - 150 tickets </p>
                                
                                
                            </div>
                            <button type="submit" class="boton-comprar"> <strong>Comprar</strong></button>
                            
                        </article>
                        <% } %>

                </div>
            </section>
            <section class="principal">
                <h2 class="titular">BASKETBALL</h2>
                <div class="contenedorArticulos">
                    <% for (producto of basketball) { %>   
                    <article class="articuloDescripcion">

                        <img class="deporte-detail" src="/images/uploads/<%= producto.image %>"
                            alt="Evento">

                            <div class="descripcionProdDetail">
                                
                                <p class="partido"><%= producto.oponentes %></p>
                                <p class="ubicacion"><i class="fas fa-map-marker-alt"></i> <%= producto.location %></p>
                                <p class="fecha"><i class="fas fa-calendar-alt"></i> <%= producto.date %></p>

                                <p class="valorTicket">Starting at $<%= producto.precio %></p>
                                <p class="disponibilidad"><i class="fas fa-ticket-alt"></i> Disponibilidad - 150 tickets </p>
                                
                                
                            </div>
                            <button type="submit" class="boton-comprar"> <strong>Comprar</strong></button>
                            
                        </article>
                        <% } %>

                </div>
            </section>


           
            
        </main>
        <%- include('../partials/footer')%>
    </body>
</html>