<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>
<body class="bodyRegister">
    <%- include('../partials/headerIndex')%>
    
    <main class="registro">
    
        <div>
            <% for (detalle of productoDetalle) { %>

                <p class="editproductitulo">EDITA EVENTO: <%= detalle.competencia %> - <%= detalle.oponentes%> </p>
                
            <% } %>
            <form action="/products/<%= detalle.id %>/edit?_method=put" method="post" class="formulario">
                <div class="newProduct">
                    <label for="organizador" >Organizador</label>
                    <input type="text" name="organizador" id="organizador" required>
                </div>
                <div class="newProduct">
                    <label for="competencia" >Competencia</label>
                    <input type="text" name="competencia" id="competencia" required>
                </div>
                <div class="newProduct">
                    <label for="oponentes" >Oponentes</label>
                    <input type="text" name="oponentes" id="oponentes" required>
                </div>
                <div class="newProduct">
                    <label for="location" >Ubicacion</label>
                    <input type="text" name="location" id="location" required>
                </div>
                <div class="newProduct">
                    <label for="date" >Fecha y Hora</label>
                    <input type="text" name="date" id="date" required placeholder="DD/MM 23:59">
                </div>
                <div class="newProduct">
                    <label for="precioEvento" >Capacidad</label>
                    <input type="text" name="capacity" id="precioEvento" required>
                </div>
                

                <div class="newProduct">
                    <label for="precioEvento" >Precio del Evento</label>
                    <input type="text" name="precio" id="precioEvento" required>
                </div>
                
                <button type="submit" class="confirmProd">Confirmar</button>
                
            </form>
    
        </div>
    </main>

    <%- include('../partials/footer')%>
</body>
</html>




