<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
    <body>
        <%- include("./partials/headerIndex") %>
        <!-- <h1>KINGS OF EVENTS</h1> -->
        <img src="/images/wembley_stadium.jpeg" alt="" class="banner">
        <main>
            <section class="principal">
                <h2 class="titular">MAIN EVENTS</h2>
                <div class="contenedorArticulos">
                    <article class="articulo">
                        <img class="indexImage" src="https://cdnb.artstation.com/p/marketplace/presentation_assets/001/397/019/medium/file.jpg?1638222034">
                        <a href="/products/">

                            <button class="ticket">tickets</button>
                        </a>
                    </article>
                    <article class="articulo">
                        <img class="indexImage" src="https://www.ticketingemotions.com/wp-content/uploads/2021/02/Copa-Libertadores.jpg">
                        <a href="/products/">

                            <button class="ticket">tickets</button>
                        </a>
                    </article>
                    <article class="articulo">
                        <img class="indexNba" src="https://publish.one37pm.net/wp-content/uploads/2022/03/NBATwitter.png">
                        <a href="/products/">

                            <button class="ticket">tickets</button>
                        </a>
                    </article>
                    <article class="articulo">
                        <img class="indexImage" src="https://pbs.twimg.com/media/Eatn2keXYAAWVQV.png">
                        <a href="/products/">

                            <button class="ticket">tickets</button>
                        </a>
                    </article>

                </div>
                
            </section>
            <section class="principal">
                <h2 class="titular">UPCOMING GAMES</h2>
                <div class="contenedorArticulos">
                    <% Events.forEach( event => { %>
                            
                        
                    <article class="articuloDescripcion">
                            <a href="/products/detail/<%= event.id %>">
                            
                            
                                <img class="deporte-detail" src="/images/uploads/<%= event.image %>"
                                alt="Evento">
                                
                                <div class="descripcionProdDetail">
                                    <p class="competencia" ><%= event.competence %></p>
                                    <p class="partido"><%= event.oponents%></p>
                                    <p class="ubicacion"><i class="fas fa-map-marker-alt"></i> <%= event.location %></p>
                                    <% const mediumTime = new Intl.DateTimeFormat("en-GB", { timeStyle: "short", dateStyle: "short" }); %>

                                    <p class="fecha"><i class="fas fa-calendar-alt"></i> <%= mediumTime.format(event.data_time) %></p>
                                    
                                    <p class="valorTicket">Starting at $<%= event.price %></p>
                                </div>
                            
                            </a>
                    
                    </article>
                        
                    <% }) %>

                </div>
            </section>
            
        </main>
        <%- include('./partials/footer')%>
    </body>
</html>